<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <title>
        <%= bookInfo.title %>
    </title>
</head>

<body>
    <h1>
        <%= bookInfo.title %>
    </h1>
    <h2>
        <%= bookInfo.subTitle %>
    </h2>
    <img src="<%=bookInfo.imageLink%>" alt="">

    <% if (bookInfo.authors) { %>
    <div>
        <ul>
            <% for(let author of bookInfo.authors){ %>
            <li>
                <%=author%>
            </li>
            <% } %>
        </ul>
    </div>
    <% } %>

    <div>
        Published Year: <%=bookInfo.publishedYear%>
    </div>

    <% if (bookInfo.categories) { %>
    <div>
        <ul>
            <% for(let category of bookInfo.categories){ %>
            <li>
                <%=category%>
            </li>
            <% } %>
        </ul>
    </div>
    <% } %>

    <% if (bookInfo.description) { %>
    <div>
        <%=bookInfo.description%>
    </div>
    <% } %>

    <div>
        Pages : <%=bookInfo.pages%>
        Language: <%=bookInfo.language%>
    </div>
    <div>
        <% if(bookInfo.bookComments){ %>
        <ul>
            <% for (let com of bookInfo.bookComments){ %>
            <li>
                <%= com.author.username %>: <%=com.comment%> -> <p class="starability-result"
                    data-rating="<%=com.rating%>">
                    Rated: <%=com.rating%> stars
                </p>
                <% for(let imgObj of com.images){ %>
                <img src="<%= imgObj.url %> " alt="">
                <% } %>

                <% if(signedInUser && com.author.equals(signedInUser._id)) {%>
                <form action="/book/<%=bookInfo.id%>/comment/<%=com._id%>?_method=DELETE" method="POST">
                    <button>Delete</button>
                </form>
                <% } %>
            </li>
            <%}%>
        </ul>
        <% } %>
    </div>
    <% if(signedInUser) {%>
    <div>
        <form action="/book/<%=bookInfo.id%>/comment" method="POST" enctype="multipart/form-data">
            <fieldset class="starability-basic">
                <legend>Rating:</legend>
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                    aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
            <label for="comment">Comment</label>
            <textarea name="comment" id="comment" cols="70" rows="5" placeholder="Enter comment"></textarea>
            <input type="file" name="image" id="" multiple>
            <button>Post</button>
        </form>
    </div>
    <% } %>
    <% if(signedInUser){ %>
    <a href="<%=bookInfo.downloadLink%>">Download</a>
    <% } %>
    <a href="/book/view/<%=bookInfo.id%>">View</a>
</body>

</html>