<%- include("layouts/boilerplate") %>
<title>BookHub</title>
</head>

<body>
    <%- include("partials/navBar") %>
    <% if(successMsg && successMsg.length>=1){ %>
    <%- include("partials/flashSuccess") %>
    <% } %>
    <% if(errorMsg && errorMsg.length>=1){ %>
    <%- include("partials/flashError") %>
    <% } %>
    <%- include("partials/homePoster") %>
    <br>
    <br>
    <h1>
        You might Like
    </h1>
    <div id="collection">
        <% for(let id in booksArr){%>
        <div class="books">
            <figure>
                <a href="/book/<%=booksArr[id].title%>">
                    <img src="<%=booksArr[id].imageLink%>" alt="">
                </a>
                <figcaption><%=booksArr[id].title.substring(0,20)%></figcaption>
            </figure>
        </div>
        <% } %>
    </div>
    <%- include("partials/footer") %>
</body>

</html>