<%- include("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/searchPage.css">

<title>
    <%=book.queryName%>
</title>
</head>

<body>
    <%- include("partials/navBar") %>
    <div id="searchMsg">
        Showing search results for "<%=book.queryName%>"
    </div>
    <div id="searchCollection">
        <% for(let key in book){%>
        <% if(key==="queryName"){ %>
        <% break %>
        <% } %>
        <div class="searchedBook">
            <a href="/book/<%=key%>">
                <figure>
                    <img src="<%=book[key].imageLink%>" alt="searched Book">
                    <figcaption>
                        <%=book[key].title.substring(0,20)%>
                    </figcaption>
                </figure>
            </a>
        </div>
        <%}%>
    </div>
    <%- include("partials/footer") %>

</body>

</html>